:root{
    --ui-width-percentage: 50%;
    --ui-min-width: 1000px;
    --standard-border-radius: 5px;
    --send-bg: #19603d;
    --send-color: white;
    --receive-bg: #E5E5EA;
    --receive-text: black;
}

body{
    margin: 0px;
    background-color: #2f3e46;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.icon{
    height: 24px;
    aspect-ratio: 1;
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid white;
}

.header{
    background-color: rgba(50, 50, 50, 1);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: 0px auto;
    width: var(--ui-width-percentage);
    box-sizing: border-box;
    overflow: auto;
    top: 0;
    min-width: var(--ui-min-width);
    
    z-index: 999; /*sempre in primo piano*/
    

    /*responsibilità*/
    width: 50vw; /* Adatta la larghezza alla larghezza del viewport */
    min-width: 325px; /* Imposta una larghezza minima per evitare che il chatflow diventi troppo piccolo */
}

.title{
    color: rgb(45, 209, 121);
    font-size: 52px;
    margin: 10px;
    padding: 0px;
    flex-grow: 3;
}

#settings
{
    background-image: url('./asset/settings.svg');
    background-size: 32px;
    min-width: 60px;
    aspect-ratio: 1;
    float: right;
    padding: 0px;
    margin: 10px;
}

.ui-button
{
    background-color: rgba(50, 50, 50, 1);;
    backdrop-filter: blur(10%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: var(--standard-border-radius);
}

.chatflow{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    /*font-size: 18px;*/
    color: white;
    margin: 0px auto;
    /*width: var(--ui-width-percentage);*/
    /*min-width: var(--ui-min-width);*/
    display: flex;
    flex-direction: column;

    z-index: 1; /*piano base*/

    /*responsibilità*/
    @media (max-width: 1200px) {    /*font size da un minimo di 10px fino ad un massimo di calc(10px+1vm) con laghezza massima 1200px*/
        font-size: calc(10px + 1vw);
    }
    @media (min-width: 1201px) {    /*font size da 22px per laghezze maggiori di 1200px*/
        font-size: 22px; 
    }
    width: 50vw; /* Adatta la larghezza alla larghezza del viewport */
    min-width: 300px; /* Imposta una larghezza minima per evitare che il chatflow diventi troppo piccolo */
}

.chatbox{
    padding: 5px;
    margin-top: 70px;
}


.default-user{
    background: url(../asset/user.svg) center center/cover no-repeat; 
    border: 1px solid white;      
}

.default-ai{
    background: url(../asset/cpu.svg) center center/20px 20px no-repeat;
    border: 1px solid rgb(45, 209, 121);
}

.sendbox{
    max-width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 0px 10px auto;
}

.receivebox{
    max-width: 90%;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin: 10px auto 10px 0px;
}

p {
    word-wrap: break-word;
    position: relative;
	padding: 10px 20px;
    margin: 0px;
}

.send {
	color: var(--send-color); 
	background: var(--send-bg);
    border-radius: 25px 25px 0px 25px;
}
.receive {
	background: var(--receive-bg);
	color: black;
    align-self: flex-start;
	border-radius: 25px 25px 25px 0px;
}

.separator{
    margin: 0px 0px 150px 0px;
}


.user-area
{
    display: flex;
    margin: 0px;
    flex-direction: column;
    align-items: center;
    width: var(--ui-width-percentage);
    min-width: var(--ui-min-width);
    position: fixed;
    bottom:0;

    z-index: 999; /*sempre in primo piano*/

    /*responsibilità*/
    @media (max-width: 1200px) {    /*font size da un minimo di 10px fino ad un massimo di calc(10px+1vm) con laghezza massima 1200px*/
        font-size: calc(10px + 1vw);
    }
    @media (min-width: 1201px) {    /*font size da 22px per laghezze maggiori di 1200px*/
        font-size: 22px; 
    }
    width: 50vw; /* Adatta la larghezza alla larghezza del viewport */
    min-width: 300px; /* Imposta una larghezza minima per evitare che il chatflow diventi troppo piccolo */
}

.input-grid{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 5px;
    width: 100%;
}

#user-input{
    background-color: rgba(50, 50, 50, 1);;
    backdrop-filter: blur(10%);
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    margin: 5px 0px 5px 0px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    height: 80px;
    width: 100%;
    flex-grow: 1;
    resize: none; 
}
#user-input:focus{
    border: 0px;
    outline: none;
}

#user-input::placeholder{
    color: rgb(170, 170, 170);
}

.commands-grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    aspect-ratio: 1;
    margin: 5px 0px 5px 0px;
    gap: 5px;
    padding: 0px;
    height: 100px;
}

.input-button
{
    aspect-ratio: 1;
    flex-grow: 1;
}

#mic
{
    background-image: url('./asset/mic.svg');
}

#send
{
    background-image: url('./asset/send.svg');
}

#export
{
    background-image: url('./asset/download.svg');
}

#sync
{
    background-image: url('./asset/refresh-cw.svg');
}

.text-footer{
    color: rgb(170, 170, 170);
    text-align: center;
    position: relative;
    margin: 0px 0px 10px 0px;
}
