:root{
  background-color: #2f3e46;
  --button-color:  rgb(29,129,76);
  --title-color: rgb(45, 209, 121);
  --notification-background: rgb(29, 129, 76);; /*used in notification pop-up when copy to clipboard*/
  --notification-primary: white;    /*used in notification pop-up when copy to clipboard*/
}

body{
  overflow: hidden;
}

h5 {
  font-weight: 400;
}
.big-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%; 
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: translate(-50%, -50%);
  background-color: rgba(50, 50, 50, 1); 
  border-radius: 10px;
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.6);
  overflow-x:   hidden;
  overflow-y: auto; /* per permettere lo scrolling se il contenuto è troppo grande */
}
.container {
  position: relative;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* aggiungi padding come necessario */
  overflow-x: hidden; /* per permettere lo scrolling se il contenuto è troppo grande */
  width: 100%; /* adatta la larghezza al contenuto */
  height: 100%;
}
@media screen and (max-width: 600px) {
  .container {
      width: 80%;
  }
  .big-box {
    width: 80%;
    height: 80%;
}
}

.tabs .indicator {
  background-color: #e0f2f1;
  height: 60px;
  opacity: 0.3;
}

.blur-background{
  background-color:var(--background-color);
  width: 100%;
  height: 100%;
  filter: blur(3px);
  z-index: 0;
}

.active{
  color: var(--button-color)
}
.center {
  text-align: center;
} 

.submit-button {
  background-color: rgb(29, 129, 76);
}
.text {
  font-size: 1.5em; /* dimensione del testo relativa alla dimensione del testo del suo elemento genitore */
  color: white;
}

.form-container {
  position: relative;
  width: 100%; /* adatta la larghezza al contenuto */
  max-width: 600px; /* limita la larghezza massima del form */
  margin: 0 auto; /* centra il form orizzontalmente */

}

@media screen and (max-width: 600px) {
  .form-container {
      padding: 1em;
  }

  .text {
    font-size: em; /* riduci la dimensione del testo per schermi piccoli */
  }
}

.confirmation-tabs-btn {
  position: absolute;
}

.letters {
  color: rgb(150, 150, 150);
  font-size: 18px;
  z-index: -1;
  position: fixed;
  transform: translate(-50%, -50%);
}

.tabs-style {
  position: relative; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(29, 129, 76);
  border-radius: 10px 10px 0 0;
  overflow-y: hidden;
  overflow-x: hidden;
}


.btn {
  background-color:var(--button-color);
  font-size: 1.0em; /* dimensione del testo relativa alla dimensione del testo del suo elemento genitore */
   /* padding relativo alla dimensione del testo del suo elemento genitore */
}
@media screen and (max-width: 600px) {
  .btn {
      font-size: 1em; /* dimensione del testo più piccola per schermi più piccoli */
       /* padding più piccolo per schermi più piccoli */
  }
}

.link-color {
  color: rgb(63, 224, 138);
}

.title {
  color: var(--title-color)

}

input[type="email"].validate,
input[type="password"].validate {
  color: white;
}


/* Cambia il colore della linea sotto l'input e l'area di testo quando sono in focus */
.input-field input:focus,
.input-field textarea:focus {
  color: var(--title-color); /* Cambia questo al colore che preferisci */
}

.input-field input:focus:not(.no-autoinit),
.input-field textarea:focus:not(.no-autoinit) {
  border-bottom: 1px solid var(--title-color); /* Cambia questo al colore che preferisci */
  box-shadow: 0 1px 0 0 var(--title-color); /* Cambia questo al colore che preferisci */
}

/* Cambia il colore dell'etichetta quando l'input o l'area di testo associati sono in focus */
.input-field input:focus:not(.no-autoinit) + label,
.input-field textarea:focus:not(.no-autoinit) + label {
  color: var(--title-color); /* Cambia questo al colore che preferisci */
}

/*NOTIFICATION POP-UP*/
.notification{
  position: fixed;
  width: max-content;
  left: 0; 
  right: 0; 
  bottom: 1.5rem;
  margin-left: auto; 
  margin-right: 10px; 
  border-radius: 0.375rem;
  background-color: var(--notification-background);
  color: var(--notification-primary);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(1.875rem);
  opacity: 0;
  visibility: hidden;
  animation: fade-in 2.7s linear;
  z-index: 2;
}
.notification-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
}
.notification-progress{
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(
      to right, 
      var(--notification-background),  
      var(--notification-primary)
  );
  border-radius: inherit;
  animation: progress 2s 0.5s linear;
}
@keyframes fade-in{
  5% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
  95% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes progress {
  to {
      transform: scaleX(1);
  }
}

.green-input {
  color: rgb(75, 195, 75);
  border-bottom: 1px solid rgb(75, 195, 75) !important;
  box-shadow: 0 1px 0 0 rgb(75, 195, 75) !important;
}
